/* SELETORES*/
body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0;
    padding: 0;
    line-height: 1.5;
    background-color: rgb(129, 99, 99)
}
.imgfoto{
    text-align: center ;
    padding: 1rem;

}
.imgfoto img{
    max-width: 25%;
    height: auto;
    display: inline-block;
    border-radius: 220px;
    border: 2.5px solid rgb(61, 61, 92);
}
header{
    background-color: rgb(236, 227, 245);
    padding: 3px;
    text-align: center;
    color: rgb(83, 47, 47);
}
header nav ul{
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    list-style-type: lower-roman;

}
header nav ul li{
    display: inline;
    margin: 20px;
    transition: 0.9s;

}
header nav ul li a{
    color: rgb(71, 44, 12);
    text-decoration: wavy;
    font-size: large;
    font-weight:bolder;
}
h1{
    font-size: xx-large;
    color: rgb(17, 14, 10);
    height: 10svh;
    width: 100svw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
}
#sobre h2{
    background-color: beige;
    padding: 0.1rem;
    margin: 20px;

}
.eu{
    background: rgb(241, 219, 240);
    color: black;
    text-align: center;
}
.projetos-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3rem;
}

.projeto{
    background: rgb(248, 217, 188);
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0px 4px 7px rgb(168, 98, 98);
}
.projeto a{
    list-style-type: none;
    color: rgb(13, 13, 14);
    text-decoration: none;
    background-color: rgb(223, 186, 152);
    font-weight: bolder;
    padding: 3px;
}
footer {
    background: #464242;
    color: hsl(0, 100%, 99%);
    text-align: center;
    padding: 10px 0;
    margin-top: 1rem;
}
/*.redessociais a{
    display: inline;
    padding: 5px;
    margin: 7px;
    background-color: rgb(247, 200, 200);
    color: rgb(77, 58, 32);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-decoration: rgb(100, 100, 253);
    font-weight: bolder;
}*/
#contato h2{
    background-color: beige;
    padding: 0.1rem;
    margin: 20px;

}
#habilidades ul li{
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    list-style-type: none;
    display: inline;
    margin: 15px;
    color: rgb(3, 3, 3);
}
#habilidades h2{
    background-color: beige;
    padding: 0.1rem;
    margin: 20px;
}
header nav ul li:hover{
    background-color: rgb(86, 52, 117);
    padding: 8px;
    border-radius: 10px;
}